.flashcontainer {
	position: fixed;
	top: 5px;
	z-index: 1001;

	@media (min-width: @screen-sm-min) {
		width: @container-sm - @grid-gutter-width;
	}
	@media (min-width: @screen-md-min) {
		width: @container-md - @grid-gutter-width;
	}
	@media (min-width: @screen-lg-min) {
		width: @container-lg - @grid-gutter-width;
	}
}